/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: FASTQC {
        ext.args = '--quiet'
        cpus   = { 2     * task.attempt }
        memory = { 2.GB  * task.attempt }
        time   = { 4.h   * task.attempt }
    }

    withName: 'MULTIQC' {
        ext.args   = { params.multiqc_title ? "--title \"$params.multiqc_title\"" : '' }
        publishDir = [
            path: { "${params.outdir}/multiqc" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: PREPARE_LOCUS_REFERENCE {
        cpus = 1
        memory = { 2.GB * task.attempt }
        publishDir = [
            path: { "${params.outdir}/references" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: BWA_INDEX {
        cpus = 1
        memory = { 1.GB * task.attempt }
    }

    withName: BWA_MEM {
        cpus = 8
        memory = { 8.GB * task.attempt }

        ext.args = { [
            '-R \"@RG\\tID:',
            "${meta.id}",
            '\\tSM:',
            "${meta.id}",
            '\\tLB:lib\\tPL:ILLUMINA\"'
        ].join('')}
    }

    withName: PICARD_FASTQTOSAM {
        cpus = 1
        memory = { 4.GB * task.attempt }
        ext.args = { "--READ_GROUP_NAME ${meta.id} --LIBRARY_NAME lib --PLATFORM ILLUMINA --QUALITY_FORMAT Standard" }
    }

    withName: PICARD_MERGEBAMALIGNMENT {
        cpus = 1
        memory = { 4.GB * task.attempt }
    }

    withName: PICARD_MARKDUPLICATES {
        cpus = 1
        memory = { 2.GB * task.attempt }
        ext.args = '--CREATE_INDEX'
        ext.prefix = { "${meta.id}.markdup" }
    }

    withName: SAMTOOLS_VIEW {
        ext.args = { [
            '-b',
            '-q 20',
            '-f 2',
            '-F 4'].join(' ') }
        ext.prefix = { "${meta.id}.q20" }
    }

    withName: GATK4_HAPLOTYPECALLER {
        ext.args = { "--ploidy ${meta.ploidy}" }
    }

    withName: SELECT_SNP_BIALLELIC {
        ext.args = { [
            '--select-type-to-include SNP',
            '--restrict-alleles-to BIALLELIC'
        ].join(' ') }
        ext.prefix = { "${meta.id}.snps.biallelic" }
    }

    withName: GATK4_VARIANTANNOTATOR {
        ext.args = '-A AlleleFraction'
        ext.prefix = { "${meta.id}.ab" }
    }

    withName: GATK4_VARIANTFILTRATION {
        ext.args = { [
            "--filter-expression \"QD < ${params.variant_filter_qd}\" --filter-name \"QD_lt${params.variant_filter_qd}\"",
            "--filter-expression \"FS > ${params.variant_filter_fs}\" --filter-name \"FS_gt${params.variant_filter_fs}\"",
            "--filter-expression \"MQ < ${params.variant_filter_mq}\" --filter-name \"MQ_lt${params.variant_filter_mq}\"",
            "--filter-expression \"ReadPosRankSum < ${params.variant_filter_rprs}\" --filter-name \"ReadPosRankSum_lt${params.variant_filter_rprs}\"",
            "--filter-expression \"AF < ${params.variant_filter_af_lo}\" --filter-name \"AF_lt${params.variant_filter_af_lo}\"",
            "--filter-expression \"AF > ${params.variant_filter_af_hi}\" --filter-name \"AF_gt${params.variant_filter_af_hi}\"",
            "--filter-expression \"DP < ${params.variant_filter_dp}\" --filter-name \"DP_lt${params.variant_filter_dp}\""
        ].join(' ') }
        ext.prefix = { "${meta.id}.abf" }
    }

    withName: SELECT_FILTERED_BIALLELIC {
        ext.args = { [
            '--select-type-to-include SNP',
            '--restrict-alleles-to BIALLELIC',
            '--exclude-filtered'
        ].join(' ') }
        ext.prefix = { "${meta.id}.snps.biallelic.filtered" }
    }

    withName: GATK4_FASTAALTERNATEREFERENCEMAKER {
        ext.prefix = { "${meta.id}.iupac" }
        publishDir = [
            path: { "${params.outdir}/iupac" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: BAMTOOLS_SPLIT {
        cpus = 1
        memory = { 2.GB * task.attempt }
    }

    withName: HPOPG_PHASE {
        cpus = 1
        memory = { 4.GB * task.attempt }
        publishDir = [
            path: { "${params.outdir}/phasing" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: BUILD_PHASED_CONSENSUS {
        cpus = 1
        memory = { 2.GB * task.attempt }
        publishDir = [
            [
                path: { "${params.outdir}/PHASED" },
                mode: params.publish_dir_mode,
                pattern: "*.phased.fasta"
            ],
            [
                path: { "${params.outdir}/GENOTYPE" },
                mode: params.publish_dir_mode,
                pattern: "*.genotype.fasta"
            ],
            [
                path: { "${params.outdir}/PICKONE" },
                mode: params.publish_dir_mode,
                pattern: "*.pickone.fasta"
            ]
        ]
    }

    withName: COLLECT_PHASING_STATS {
        cpus = 1
        memory = { 2.GB * task.attempt }
        publishDir = [
            path: { "${params.outdir}/summary_stats" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
}
